.form-container {
    text-align: center;
}

.edit-form {
    position: relative;
    display: inline-block;
    margin-top: 10%;
    align-items: center;
    input {
        color: rgb(62, 40, 97);
        margin-top: 10px;
    }
}