.project-list-item {
    background-color: rgba(27, 27, 133, 0.255);
}

.project-list-item:hover {
    background-color: rgba(82, 27, 133, 0.321);
}

.project-image-preview {
    height: 140px;
    position: relative;
    left: 30px;
    top: 15px;
}

.languageLogo {
    position: relative;
    top: 3px;
    height: 20px;
    margin-right: 10px;
}