.project-list-item {
    background-color: rgba(27, 27, 133, 0.552);
    height: 170px;
    position: relative;
    margin-top: 15px;
    margin: 50px;
}

.project-list-item:hover {
    background-color: rgba(27, 133, 39, 0.321);
    height: 170px;
    position: relative;
    margin-top: 15px;
    margin: 50px;
}

.languageLogo {
    position: relative;
    top: 3px;
    height: 20px;
    margin-right: 10px;
}