.css-89079t-MuiFormLabel-root-MuiInputLabel-root {
    color: white !important;
}

.css-g4r734-MuiInputBase-root-MuiOutlinedInput-root {
    border: 1px solid white;
}

.css-g4r734-MuiInputBase-root-MuiOutlinedInput-root {
    border: 1px solid white;
}

.css-1y6xurh-MuiFormHelperText-root {
 color: white !important;
}