

.developer__page-developer-details {
    margin-top: 200px;
    background-color: #46315a32;

}

.socialLogo {
    height: 20px;
    margin-right: 20px;
}

@media (max-width: 480px) {
    .container {
      width: 100%;
    }
  }